body{
    background-color: rgba(129, 129, 129, 0.438);
    font-family: 'Calibri', sans-serif;
    font-size:22px;
    /* background-image: url(./images/background/numbersdrawing.jpg); */
    background-size: 100%;
}

p {text-align: center;}

.h1box{
    display:flex;
    padding: 1%;
    width: 30%;
    height:auto;
    text-align: center;
    /* background-color: rgba(0, 0, 128, 0.604); */
    background-color: rgba(165, 42, 42, 0.771);
    margin: auto;
    border-radius: 30px;
    justify-content: center;
    align-content:center;
    color:wheat;
    text-shadow: 1.3px 1.3px black;
    border: outset 3px white;
}

#caption{
    /* background-color: rgba(0, 128, 128, 0.786); */
    background-color: rgba(30, 84, 132, 0.804);
    color: wheat;
    width: 35%;
    margin: auto;
    padding: 1%;
    border-radius: 30px;
    border: outset 3px white;
    text-shadow: 1px 1px black;
}

.container{
    background-color: rgba(0, 0, 128, 0.504);
    width:40%;
    margin:auto;
    border:4px outset white;
    border-radius: 700px;
}

.gamebox{
    align-content: center;
    text-align: center;
    /* background-color: rgba(245, 222, 179, 0.978); */
    background-color: rgba(88, 212, 171, 0.96);
    height:300px;
    width:50%;
    margin-top: 15%;
    margin:auto;
    border-radius: 300px;
    border:3px outset aliceblue;

}

.gHist{
    padding:3%;
}

.guessarea{
    text-align: center;
}

.guess{
    text-align: center;
    width:40%;
    border-radius: 30px;
    height:30px;
    background-color: wheat;
    font-size:30px;
    color:rgb(136, 136, 136);
    text-shadow: .7px .7px rgb(3, 67, 21)
    /* text-shadow: .5px .5px black; */

}

.pGuess{
    text-align: center;
    align-content: center;
    background-color: rgba(0, 128, 128, 0.786);
    width: 30%;
    height: auto;
    margin:auto;
    border-radius: 100px;
    border:3px inset red;
    color:rgb(255, 200, 132);
    text-shadow: 1px 1px black;
    margin-bottom: 3%;
}

#pGuessTitle{
    font-weight: bold;
}

.status {
    margin: auto;
    text-align: center;
    height:auto;
}

.progress{
    background-color: rgba(0, 128, 128, 0.933);
    width: 30%;
    align-content: center;
    text-align: center;
    margin: auto;
    color:rgba(210, 254, 80, 0.945);
    text-shadow: 1.3px 1.3px black;
    border-radius: 100px;
    border:3px inset rgba(255, 0, 0, 0.829);
    transition:transform 1s;
   
}

.progress:hover{
    transform:scale(1.1);
}

.resetme{
    margin-top: 2%;
    text-align: center;
}


/* Buttons and their properties */

/* Continue Button */
.cBtn {
    border-radius: 20px;
    height:40px;
    width:100px;
    background-color: rgba(124, 219, 8, 0.871);
    color: rgb(251, 251, 251);
    
}

/* Guess Button */

.gBtn{
    border-radius: 20px;
    height:40px;
    width:100px;
    background-color: rgb(0, 136, 61);
    color:wheat;
    text-shadow: 1px 1px black;
    transition: transform .3s;
    font-weight: bold;
}

.gBtn:hover{
    background-color: rgb(10, 76, 209);
}

.gBtn:active{
    transform:rotate(360deg);
}

/* Reset Button */

.rBtn{
    margin-bottom: 2%;
    width: 100px;
    height: 50px;
    background-color: rgba(195, 0, 0, 0.966);
    border-radius: 20px;
    border:outset 2px white;
    color:wheat;
    outline-color: black;
    text-shadow: 2px 2px black;
    font-weight: bold;
}

.rBtn:hover{
    background-color:rgb(204, 160, 0);
    transition: transform 1s;
}

.rBtn:active{
    transform: rotate(-720deg);

}



/* Images/Icons */



.thinking{
    padding:2%;

}

.winner{
    margin-top:3%;
    padding:2%;
}